<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Emipro\Apichange\Api\AttributeInterface" type="Emipro\Apichange\Model\Attribute" />
    <preference for="Emipro\Apichange\Api\PaymentInterface" type="Emipro\Apichange\Model\Payments" />
    <preference for="Emipro\Apichange\Api\ShippingInterface" type="Emipro\Apichange\Model\Shippings" />
    <preference for="Emipro\Apichange\Api\OrderstatusInterface" type="Emipro\Apichange\Model\Orderstatus" />
    <preference for="Emipro\Apichange\Api\StockInterface" type="Emipro\Apichange\Model\Stock" />
	<preference for="Emipro\Apichange\Api\Data\UpdateStockInterface"
        type="Emipro\Apichange\Model\UpdateStock" />
    <!-- Odoo driven refunds: preview + guarded commit -->
    <preference for="Emipro\Apichange\Api\RefundPreviewInterface" type="Emipro\Apichange\Model\RefundPreview" />
    <preference for="Emipro\Apichange\Api\RefundInterface" type="Emipro\Apichange\Model\RefundCommit" />
    <preference for="Emipro\Apichange\Api\Data\RefundRequestInterface"
        type="Emipro\Apichange\Model\Refund\Data\RefundRequest" />
    <preference for="Emipro\Apichange\Api\Data\RefundItemInterface"
        type="Emipro\Apichange\Model\Refund\Data\RefundItem" />
    <type name="Magento\Catalog\Model\ProductRepository">
		<plugin name="Emipro_Apichange::addWebsiteids" type="Emipro\Apichange\Plugin\Product\ProductRepository" />
	</type>
</config>
